.first-footer {
    background-color: #343a40 !important;
    max-width: 100%;
    /*margin: 0;*/
}

.copyright {
    background-color: #292e33 !important;
}

.headers {
    color: #fff;
}

.text {
    color: rgba(255, 255, 255, 0.5);
}