body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  text-align: center
}

.main-content {
  border: double 5px black;
}	
.adminbox{
  width: 560px;
  height: 150px;
  background: #000;
  color: #fff;
  position: absolute;
  margin: auto;
  top: 200px;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.userbox{
  width: 560px;
  height: 240px;
  background: #000;
  color: #fff;
  position: absolute;
  margin: auto;
  top: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1{
 margin: 0;
 padding: 0 0 10px;
 text-align: center;
 font-size: 22px;
}


.adminbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
 }
.userbox p{
 margin: 0;
 padding: 0;
 font-weight: bold;
}

 
.adminbox input{
  width:100%;
  margin-bottom:20px;
}


.userbox input{
  width:100%;
  margin-bottom:20px;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
  border-radius: 5px;
}


.adminbox a{
  text-decoration: none;
  font-size: 13px; 
  line-height:20px;
  color: darkgrey;
}

.userbox a{
  text-decoration: none;
  font-size: 13px; 
  line-height:20px;
  color: darkgrey;
}


.adminbox a:hover
{
  color: #ffc107;
}

.userbox a:hover
{
  color: #ffc107;
}

